/*clear default styles*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, q, samp,
blockquote, abbr, address, cite, code, del, dfn, em, img, ins, kbd, small, sub,
strong, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, footer, label,
legend, table, caption, canvas, tbody, tfoot, thead, th, td, article, aside,
details, figcaption, figure, header, nav, menu, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    width: 500px;
    border: 1px solid #000000;
    margin: 20px 0;
    padding: 10px;
    font-size: 42px;
    text-align: center;
}

main {
    display: flex;
    /*flex-direction: row;*/
    line-height: 1;
}

main div.container-card {
    margin-left: 80px;
    /*padding: 20px 0 0 0;*/
    flex-wrap: wrap;
    width: 520px;
    height: 1300px;
    border: 1px solid green;
}

main div.container-card div.card {
    width: 145px;
    height: 260px;
    margin: 10px;
    border: 1px solid #000000;
}

main div.container-card div.card h2 {
    text-align: center;
    font-weight: bold;
}

main div.container-card div.card img {
    width: 132px;
    margin: 5px;
}

main div.container-card div.card>p>button {
    width: 60px;
    margin: 4px 2px;
    font-size: 10px;
    font-weight: bold;
}

main div.container-card div.card>p>button.grass {
    background-color: #A1D486;
}

main div.container-card div.card>p>button.poison {
    background-color: #9272A1;
}

main div.container-card div.card>p>button.fire {
    background-color: #EB7571;
}

main div.container-card div.card>p>button.electric {
    background-color: #F8D468;
}

main div.container-card /*p.container-fluid */button.main-button {
    width: 100%;
    border-radius: 7px;
}

main div.option-card {
    height: 500px;
    width: 230px;
    border: 1px solid #000000;
    margin: 290px 0 0 0;
}

main div.option-card>img {
    width: 220px;
    margin: 4px;
}

main div.option-card>h2 {
    font-size: 20px;
    text-align: center;
}

table, tr {
    border: 1px solid #808080;
    display: flex;
    justify-content: center;
}